

body {
    font-family: "PT Sans", sans-serif;
  }
  
  h3 {
    text-align: center;
    color: white;
    margin-bottom: 3em;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #505260;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  #recents {
    border-top: 3px solid white;
  }

  .sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 3px solid white;
    color: white;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #2f889a;
  }

  #settings {
    position: absolute;
    bottom: 30px;
    right: 10px;
  }
  
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }

  .no-entry {
    font-size: 20px;
    text-align: center;
  }

  h2 {
    margin-inline-start: 1.5em;
  }

  input[type=submit] {
    padding: 16px 0;
    border-radius: 20px;
    width: 10%;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
